@import './variables';

header.MuiPaper-root {
  height: auto;
}
.MuiTypography-h6,
.MuiTypography-body2 {
  font-family: 'Roboto', sans-serif;
}
.MuiAppBar-colorPrimary {
  background-color: $primaryDark !important;
}
svg.MuiSvgIcon-root {
  color: $primaryDark;
}
.MuiListItemText-root {
  color: $primaryDark;
}
.MuiButtonBase-Root.MuiListItem-button:hover {
  background: $primary;
}
.socialNav span.icon {
  display: none;
}
#navButton {
  background-color: $primaryDark !important;
}
#hamburger {
  color: white !important;
}

@media (min-width: 996px) {
  header.MuiPaper-root {
    max-height: 100px;
  }
}
